#**Data Types and Structures Questions**

1. What are data structures, and why are they important?
- A data structure is a specialized format for organizing, processing, retrieving and storing data. There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable data types can be changed after they are created, while immutable data types cannot.

In [1]:
#example multable data structure list[] is mutable

l = [1, 2, 3, 4]
print(l)

l[1] = 100
print("change after creation:", l)   #that is called list is mutable

[1, 2, 3, 4]
change after creation: [1, 100, 3, 4]

In [2]:
#example immultable data structure tuple is immutable

t = (1, 2, 3, 4)
print(t)

t[1] = 100    #it will throw an error because tuple is immutable

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?
- In Python, the primary difference between lists and tuples is that lists are mutable (can be changed), while tuples are immutable (cannot be modified) once created; meaning you can add, remove, or modify elements within a list, but not in a tuple, making tuples more suitable for storing data that should not be altered throughout a program.

4. Describe how dictionaries store data
- Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

5. Why might you use a set instead of a list in Python?
- The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list?
- In Python, a string is a sequence of characters, while a list is an ordered collection of items. Strings are immutable, meaning they cannot be changed after creation, while lists are mutable.

7. How do tuples ensure data integrity in Python?
- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

8. What is a hash table, and how does it relate to dictionaries in Python?
- In Python, a hash table is a data structure that's used to implement dictionaries. A dictionary is a built-in data type that uses a hash table to store key-value pairs.

9. Can lists contain different data types in Python?
- lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

10. Explain why strings are immutable in Python.
- Immutability is the property of an object according to which we can not change the object after we declared or after the creation of it and this Immutability in the case of the string is known as string immutability in Python.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries are faster than lists for tasks that involve searching or looking up data, such as configurations, caches, and large datasets. This is because dictionaries use a technique called hashing to quickly find the value associated with a key.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple if you need an immutable collection where the elements won't change after creation. Tuples are generally faster and more memory-efficient than lists, making them better for fixed collections, especially as dictionary keys or when iteration speed is crucial.

13. How do sets handle duplicate values in Python?
- Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered. Thus, items in a set do not appear in a stipulated manner, i.e., they can appear in a different order every time it is used. Due to this, set items cannot be referred to by key or index.

14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, it uses a search algorithm. As the list gets longer, the search time gets longer in direct proportion. For dictionaries, Python uses an algorithm called a hashtable that has a remarkable property: the in operator takes about the same amount of time no matter how many items there are in a dictionary.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, you cannot change, add, or remove its elements.
Explanati

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary that is stored within another dictionary. It's a powerful tool for storing and organizing data with multiple layers.

In [1]:
#example of nested dictionary

students = {
    "Alice": {"age": 25, "major": "Computer Science", "grades": [90, 85, 88]},
    "Bob": {"age": 22, "major": "Mathematics", "grades": [92, 80, 76]},
    "Charlie": {"age": 23, "major": "Physics", "grades": [85, 89, 91]}
}

# Accessing nested values
print(students["Alice"]["major"])
print(students["Bob"]["grades"][1])

# Adding a new student
students["David"] = {"age": 24, "major": "Biology", "grades": [88, 79, 92]}

# Modifying a nested value
students["Charlie"]["grades"].append(95)

# Deleting a key-value pair
del students["Bob"]

print(students)

Computer Science
80
{'Alice': {'age': 25, 'major': 'Computer Science', 'grades': [90, 85, 88]}, 'Charlie': {'age': 23, 'major': 'Physics', 'grades': [85, 89, 91, 95]}, 'David': {'age': 24, 'major': 'Biology', 'grades': [88, 79, 92]}}

17.  Describe the time complexity of accessing elements in a dictionary.
- The time complexity of accessing an element in a Python dictionary is O(1) on average, which means it takes constant time. However, the worst-case time complexity can be O(n) if there are many collisions.

18.  In what situations are lists preferred over dictionaries?
- For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- In Python, the difference between data retrieval in a list and a dictionary is that lists use indices to access elements, while dictionaries use keys.

#**Practical Questions**

In [2]:
#1. Write a code to create a string with your name and print it.

name = "Prasenjit Prakash Bansod"

print("my name is:", name)

my name is: Prasenjit Prakash Bansod

In [3]:
#2. Write a code to find the length of the string "Hello World".

greet = "Hello World"

print("length of greet is:", len(greet))

length of greet is: 11

In [5]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".

str1 = "Python Programming"

str1[0:3]

'Pyt'

In [6]:
#4. Write a code to convert the string "hello" to uppercase.

s = "hello"
s.upper()

'HELLO'

In [8]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

s = "I like apple"

s.replace("apple", "orange")

'I like orange'

In [11]:
#6. Write a code to create a list with numbers 1 to 5 and print it.

l = []
for i in range(1, 6):
  l.append(i)

print(l)

[1, 2, 3, 4, 5]

In [12]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [13]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

list1 = [10, 20, 30, 40, 50]
list1[::-1]

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

t = (100, 200, 300)
print("tuple:", t)

tuple: (100, 200, 300)

In [4]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red', 'green', 'blue', 'yellow')

t[-2]

'blue'

In [10]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

t = (10, 20, 5, 15)

print("minimum number in the tuple:", min(t))

minimum number in the tuple: 5

In [11]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')

t.index('cat')

1

In [14]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

t = ('apple', 'banana', 'orange')

print("kiwi" in t)
print("kiwi" not in t)

False
True

In [15]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

s = {'a', 'b', 'c'}
print(s)

{'b', 'c', 'a'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()

print(s)

set()

In [18]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)

print(s)

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

a = {1, 2, 3}
b = {3, 4, 5}

print("union of two sets:", a.union(b))

union of two sets: {1, 2, 3, 4, 5}

In [20]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

a = {1, 2, 3}
b = {2, 3, 4}

print("intersection of two sets:", a.intersection(b))

intersection of two sets: {2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d = {"name": "Prasenjit", "age": 22, "city": "Kolkata"}
print(d)

{'name': 'Prasenjit', 'age': 22, 'city': 'Kolkata'}

In [23]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {'name': 'John', 'age': 25}

d["country"] = "USA"

print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d = {"name": "Alice", "age": 30}

print(d["name"])

Alice

In [25]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del d["age"]

print(d)

{'name': 'Bob', 'city': 'New York'}

In [26]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {'name': 'Alice', 'city': 'Paris'}

print("city" in d)

True

In [28]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

d = {"name": "Prasenjit", "age": 22, "city": "Kolkata"}
l = ["prasenjit", "prakash", "bansod"]
t = ("prasenjit", "prakash", "bansod")

print("dict:", d)
print("list:", l)
print("tuple:", t)

dict: {'name': 'Prasenjit', 'age': 22, 'city': 'Kolkata'}
list: ['prasenjit', 'prakash', 'bansod']
tuple: ('prasenjit', 'prakash', 'bansod')

In [40]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).

l = [4, 44, 5, 66, 49]

print(sorted(l))

print(result.(replaced))

[4, 5, 44, 49, 66]

In [41]:
import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print(random_numbers)

[4, 9, 35, 58, 79]

In [43]:
#28.  Write a code to create a list with strings and print the element at the third index.

list1 = ["Ajay", "Bijay", "sanjay", "pwskills"]

print(list1[3])

pwskills

In [49]:
#29.  Write a code to combine two dictionaries into one and print the result.


d1 = {"name": "Prasenjit", "age": 22, "city": "pune"}
d2 = {"name": "sham", "age": 19, "city": "mumbai"}

d1.update(d2)

print(d1)

{'name': 'sham', 'age': 19, 'city': 'mumbai'}

In [54]:
#30. Write a code to convert a list of strings into a set.

list1 = ["Ajay", "Bijay", "sanjay", "pwskills"]

s = set(list1)

print(s)

{'sanjay', 'pwskills', 'Bijay', 'Ajay'}